<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.intro.hao.mytools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <uses-permission android:name="ndroid.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--
        android:name=".base.App"
        android:theme="@style/Theme.Design.Light.NoActionBar"
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="false"//是否允许备份-->
    <application

        android:supportsRtl="true">

        <!--多渠道打包配置-->
        <!--<meta-data-->
        <!--android:name="APK_SHOW"-->
        <!--android:value="${APK_SHOW_VALUE}" />-->

        <activity android:name=".home.activity.MainFlowingActivity">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->

            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>

        <activity android:name=".home.activity.HomeFlowingActivity" />

    </application>

</manifest>